.hero__title {
  margin-top: 47px;
  font-size: 24px;
}
.hero__text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
}
.hero__view-button {
  background-color: #f9f9f9;
  color: #2a254b;
  margin: 32px auto;
}
.hero__image {
  width: 100%;
}
