.listings {
  padding: 24px 0 28px 0;
}
.listings__heading {
  margin-bottom: 36px;
  font-size: 20px;
}
.listings__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  gap: 20px 16px;
}
.listings__image {
  margin-bottom: 24px;
}
.listings__title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 140%;
}
.listings__price {
  font-size: 18px;
  line-height: 150%;
}
.listings__button {
  display: block;
  background-color: #f9f9f9;
  color: #2a254b;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  padding: 16px 0;
}
@media (min-width: 700px) {
  .listings__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
    gap: 20px;
  }
  .listings__image {
    height: 375px;
    object-fit: cover;
  }
}
