.story {
  padding: 32px 0;
}
.story__wrapper {
  padding: 36px 32px 30px 36px;
  background-color: #2a254b;
  margin-bottom: 24px;
}
.story__title {
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 12px;
}
.story__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 56px;
}

.story__button {
  background-color: rgba(249, 249, 249, 0.15);
  color: #fff;
  margin: 32px auto;
}
.story__image {
  width: 100%;
}
@media (min-width: 700px) {
  .story {
    padding: 60px 0;
  }

  .story__text {
    margin-bottom: 0;
  }
}
@media (min-width: 860px) {
  .story__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .story__wrapper {
    display: flex;
    flex-direction: column;
    padding: 36px 32px 30px 36px;
    margin-bottom: 0;
  }
  .story__button {
    margin: 0;
    margin-top: auto;
    margin-right: auto;
  }
}
@media (min-width: 1000px) {
  .story__title {
    font-size: 32px;
  }
  .story__text {
    font-size: 18px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .story__wrapper {
    padding: 64px 64px;
  }
}
